# Creando, Leyendo y Escribiendo datos

En este JNB se revisará el tema de creación, lectura y escritura de datos en Pandas

In [2]:
import pandas as pd

# Series

Una serie es una colecciones indexada de datos. Son la base para posteriormente construir DataFrames.

In [3]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# Dataframe

Un dataframe es una colección de series. Es la estructura de datos más común en Pandas.

In [5]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [7]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [9]:
pd.DataFrame([['I liked it.', 'It was awful.'], 
              ['Pretty good.', 'Bland.']],
             index=['Product A', 'Product B'], columns=["Uno", "Dos"])

                    Uno            Dos
Product A   I liked it.  It was awful.
Product B  Pretty good.         Bland.