# Agrupamiento y Sorteo

En este JNB se revisará el tema de Agrupamiento y Sorteo en Pandas.

In [1]:
import pandas as pd
reviews = pd.read_csv("data/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [2]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [5]:
for name, group in reviews.groupby('points'):
    print(name)
    print(group[['country', 'points']])

80
          country  points
344         Chile      80
3640     Portugal      80
...           ...     ...
128261         US      80
128262  Argentina      80

[397 rows x 2 columns]
81
       country  points
343      Chile      81
3634        US      81
...        ...     ...
128252      US      81
128253      US      81

[692 rows x 2 columns]
82
       country  points
338     France      82
339      Spain      82
...        ...     ...
127199      US      82
127200      US      82

[1836 rows x 2 columns]
83
       country  points
336      Chile      83
337     France      83
...        ...     ...
127962      US      83
127963   Spain      83

[3025 rows x 2 columns]
84
       country  points
1122        US      84
1123        US      84
...        ...     ...
129628      US      84
129629      US      84

[6480 rows x 2 columns]
85
          country  points
51          Chile      85
52          Italy      85
...           ...     ...
129405    Austria      85
129406  Australia      85

[9530 rows x 2 columns]
86
       country  points
29          US      86
30      France      86
...        ...     ...
129851   Italy      86
129852   Italy      86

[12600 rows x 2 columns]
87
         country  points
0          Italy      87
1       Portugal      87
...          ...     ...
129775        US      87
129776     Spain      87

[16933 rows x 2 columns]
88
       country  points
89       Italy      88
90          US      88
...        ...     ...
129825  France      88
129826   Italy      88

[17207 rows x 2 columns]
89
       country  points
254         US      89
255         US      89
...        ...     ...
129823  France      89
129824   Italy      89

[12226 rows x 2 columns]
90
             country  points
137     South Africa      90
138           France      90
...              ...     ...
129969        France      90
129970        France      90

[15410 rows x 2 columns]
91
             country  points
125     South Africa      91
126           France      91
...              ...     ...
129939       Austria      91
129940            US      91

[11359 rows x 2 columns]
92
       country  points
119     France      92
120      Italy      92
...        ...     ...
129160  France      92
129913      US      92

[9613 rows x 2 columns]
93
         country  points
539           US      93
540           US      93
...          ...     ...
129685  Portugal      93
129686    France      93

[6489 rows x 2 columns]
94
         country  points
1065    Portugal      94
1066          US      94
...          ...     ...
128699     Italy      94
128700     Italy      94

[3758 rows x 2 columns]
95
          country  points
356     Australia      95
357        France      95
...           ...     ...
128683         US      95
128684         US      95

[1535 rows x 2 columns]
96
        country  points
351     Hungary      96
352          US      96
...         ...     ...
127576   France      96
128271    Spain      96

[523 rows x 2 columns]
97
          country  points
347       Germany      97
348     Australia      97
...           ...     ...
128269         US      97
128270         US      97

[229 rows x 2 columns]
98
          country  points
346     Australia      98
1558       France      98
...           ...     ...
125829         US      98
127368         US      98

[77 rows x 2 columns]
99
       country  points
1556        US      99
1557        US      99
...        ...     ...
122936   Italy      99
128265      US      99

[33 rows x 2 columns]
100
          country  points
345     Australia     100
7335        Italy     100
...           ...     ...
122935     France     100
123545         US     100

[19 rows x 2 columns]

In [3]:
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [6]:
reviews.groupby('points')["points"].count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [8]:
reviews.points.value_counts()

points
88     17207
87     16933
       ...
99        33
100       19
Name: count, Length: 21, dtype: int64

In [9]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

In [10]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [12]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

In [6]:
reviews.groupby(['country']).price.agg([len, min, max])

/tmp/ipykernel_8218/4122224884.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['country']).price.agg([len, min, max])
/tmp/ipykernel_8218/4122224884.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  3800   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine      14   6.0   13.0
Uruguay     109  10.0  130.0

[43 rows x 3 columns]

# Multi-indices

In [7]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [8]:
countries_reviewed.index

MultiIndex([('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            (  'Armenia',           'Armenia'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            (  'Austria',           'Austria'),
            ...
            (       'US',        'Washington'),
            (       'US', 'Washington-Oregon'),
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=425)

In [12]:
countries_reviewed.stack

<bound method DataFrame.stack of                              len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]>

In [13]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

# Sorting

Permite ordenar los datos de acuerdo a un criterio.

In [14]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

In [15]:
countries_reviewed.sort_values(by='len', ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

In [16]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [17]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
..         ...               ...   ...
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

In [18]:
countries_reviewed.sort_values(by=['country', 'len'], ascending=[True, False])

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
418    Uruguay         Atlantida     5
423    Uruguay          San Jose     3

[425 rows x 3 columns]